.DS_Store


/vendor
/node_modules
/public/storage
/storage/*.key
/Homestead.json
/Homestead.yaml
/composer.phar
/phpserver-*
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache
/.env
/.idea
/.vscode

